@{
    ViewData["Title"] = "Datos";
}
<head>
  <link rel="stylesheet" href="~/css/datos.css" asp-append-version="true" />
</head>
<main>
<h1>Datos del usuario</h1>
<ul>
<li>Email: @ViewBag.Email</li>
<li>Nombre: @ViewBag.Nombre</li>
<li>DNI: @ViewBag.DNI</li>
<li>Hobby: @ViewBag.Hobby</li>
<li>Edad: @ViewBag.Edad</li>
<li>Genero: @ViewBag.Genero</li>
</ul>